# Python-specific ignores
*.pyc
*.pyo
*.pyd
__pycache__/
*.egg-info/
dist/
build/
*.egg
.env
.pypirc

# Virtual environment
venv/

# Project-specific directories
data/
uploads/
outputs/
logs/
Outputs/

# Specific Python files to ignore
app_v1.py
app8_sites_specific.py
app10_uan_name_skip_pages.py

# Flask-specific ignores
instance/
*.log

# Dependency-related ignores
Pipfile.lock
requirements.txt.lock

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Miscellaneous
*.bak
*.swp
*~
*.zip
run_app.bat